@font-face {
    font-family: 'open_sans_condensedlight';
    src: url('../fonts/opensanscondensed-light-webfont.eot');
    src: url('../fonts/opensanscondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensanscondensed-light-webfont.woff') format('woff'),
    url('../fonts/opensanscondensed-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;

}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.container {
    max-width: 980px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

header {
    padding: 60px 0;
    background-color: #dcdcdc;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 280px;
    height: 100px;
}

.phones a {
    display: block;
    text-decoration: none;
    color: #767676;
    font-family: 'open_sans_condensedlight';
    font-size: 40px;
    line-height: 1;
}

menu {
    background-color: #777777;
    padding: 26px 0;
    display: flex;
    justify-content: center;
}

.navigation {
    list-style: none;
    padding: 0;
    display: flex;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    line-height: 30px;
    padding: 0 20px;
    border-right: 2px solid #fff;
    display: block;
}

.navigation li:last-child a {
    border-right: none;
}

.navigation a:hover {
    text-decoration: underline;
}

.slider {
    margin-bottom: 30px;
}

.content .container {
    display: flex;
    justify-content: space-between;
}

.news {
    flex-grow: 1;
    max-width: 350px;
    min-width: 350px;
    padding: 22px 55px 100px 35px;
    background-color: #777;
    color: #fff;
    margin: 0 60px 195px 0;
}

.news h2 {
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 36px;
}

.news span {
    font-weight: 300;
   font-style: italic;
}

.news p {
    margin-bottom: 22px;
}

.news a {
    color: #fff;
}

.main-content {
    padding: 22px 0 0 0;
    color: #767676;
}

.main-content h2 {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 31px;
    font-weight: 400;
}

.main-content p {
    margin-bottom: 27px;
}

.footer {
    padding: 50px 0;
    background-color: #767676;
    color: #fff;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.copyright {
    max-width: 200px;
}

.copyright a {
    color: #fff;
    text-decoration: none;
}

.left-side {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 480px;
    width: 100%;
}

.footer-nav a {
    color: #fff;
}

.footer-logo {
    margin-right: 10px;
}

.right-side {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.right-side p {
    max-width: 180px;
    width: 100%;
}

.right-side span {
    text-decoration: underline;
}
.button-wrap {
	text-align: right;
}
.slider img {
    width: 100%;
    min-height: 500px;
}